# Node modules
node_modules/

# Environment variables
.env

# Log files
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# lock files
package-lock.json

